ul{
    display: flex;
    list-style: none;
    background-color: khaki;
    padding: 0.5em;
    margin: 0 1em;
    align-items: center;
}
li{
    margin: 0 1em;
}
li.logo{
    margin-right: auto;
}